<div class="d-flex flex-column body-container mt-5">


    <section class="container work__section mb-4  ">
        <div class="breadcrumb__blog py-4">
         <a (click)="router.navigate(['/home'])" class="crumb">Home </a>| <span class="crumb">UI Development</span>

        </div>
        <h2 class="container section__header">
            <i class="fal  fa-laptop-code"></i> User Interface Development (UI Development)
        </h2>
        <div class="container section__description mb-4">
            <p class="description">My CV details my UI Development experience - I will update this space with my
                work projects shortly.
            </p>
            <div class="container-fluid p-0 ">
                <div class="row container__category">

                    <img src="./assets/Ajay_Resume.png" class="w-100" alt="AJ's Resume">
                </div>

            </div>
        </div>

</section>


<aj-footer></aj-footer>
</div>
