
    <div class="d-flex flex-column body-container mt-5">


        <section class="work__section mb-4">
            <h2 class="container section__header">
                <i class="fal  fa-vr-cardboard"></i> "AJ's Bookmented Reality" Application
            </h2>
            <div class="container section__description mb-4">
                <p class="description">
                    AJ’s BookMented Reality is an application that intends to give users an immersive experience when
                    they interact with artefacts such as a books they would want to explore a bit before they decide to
                    read. A typical experience would be having the book covers augmented to provide an expert review
                    about the book and proceeding with Illustrations that are augmented.
                </p>
                <div class="container-fluid p-0 ">
                    <div class="row container__category">
                        <div class="col-md-12 my-4 videowrapper">
                            <iframe width="877" height="548" src="https://www.youtube.com/embed/7hEgr2_kxxA"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

                        </div>
                        <div class="col-md-12 my-4 videowrapper">
                            <iframe width="950" height="605" src="https://www.youtube.com/embed/YT-cC7Fo5_M"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section__reflection">


                <h3 class="container section__header">
                    Reflection
                </h3>
                <div class="container section__description mb-4">
                    <p class="description">

                        AJ’s BookMented Reality Application helped me revisit my software engineering days, but however
                        with a perspective of a budding interaction designer, I was able to focus more onto the
                        interaction of the application, I was able to model and structure the application accordingly. I
                        had started the whole process with the storyboarding and modelling the flow of the application
                        and then entered the application development.
                        When I say that it made me revisit my software engineering days, I realised how I missed
                        debugging applications, getting to the root of the application’s issues as I faced many issues
                        and tried various different approaches to resolve the many issues that I had encountered. But
                        eventually emerging with a working solution gave me the satisfaction I thrive on.

                    </p>
                </div>
            </div>
        </section>

   <aj-footer></aj-footer>

    </div>
