<div class="d-flex flex-column body-container mt-5">


    <section class=" container work__section mb-4">
        <div class="breadcrumb__blog py-4">
            <a (click)="router.navigate(['/home'])" class="crumb">Home</a> | <a (click)="router.navigate(['/creativecorner'])" class="crumb">Creative Corner</a> | <span class="crumb">Photography</span>

           </div>
        <h2 class="container section__header">
            <i class="fal  fa-camera-retro"></i> Photography
        </h2>
        <div class="container section__description mb-4">
            <p class="description"> Some of the best pictures taken adhering to different compositions and
                techniques followed by post processing work flow.
            </p>
            <div class="container-fluid p-0 ">
                <div class="row container__category">
                    <a class="col-md-4  glightbox" href="assets/photography/Snail_final.jpg"
                        data-glightbox="title:At your own pace - Snail; description: <b> Details of composition : </b> <ul><li>Focal length: 4.103 mm </li><li>Ground level shot</li> <li>Rule of thirds</li> <li>Isolation of Subject</li><li>Leading Lines</li> <a href='./assets/photography/At your own pace - Snail.pdf' title='view detailed information' target='_blank' download><i class='fa-icon downloadIcon fal fa-file-pdf'></i></a>;"
                        data-gallery="gallery1">
                        <div class="category__card card">
                            <img src="assets/photography/Snail_final.jpg" alt="snail"
                                class="card-img-top  img-responsive" alt="...">
                        </div>
                    </a>
                    <a class="col-md-4  glightbox" href="assets/photography/candle.jpg"
                        data-glightbox="title: Illumination; description: <b> Details of composition : </b> <ul><li>Focal length: 4.103 mm </li><li>Ground level shot</li> <li>Rule of thirds</li> <li>Isolation of Subject</li><li>Negative Space</li> <a href='./assets/photography/Illumination.pdf' title='view detailed information' target='_blank' download><i class='fa-icon downloadIcon fal fa-file-pdf'></i></a>;"
                        data-gallery="gallery1">
                        <div class="category__card card img-responsive">
                            <img src="assets/photography/candle.jpg" alt="candle"
                                class="card-img-top  img-responsive" alt="...">
                        </div>
                    </a>
                    <a class="col-md-4 glightbox" href="assets/photography/moisture.jpeg"
                        data-glightbox="title: Dew on Cobweb;" data-gallery="gallery1">
                        <div class="category__card card">
                            <img src="assets/photography/moisture.jpeg" class="card-img-top  img-responsive"
                                alt="Dew on Cobweb">

                        </div>

                    </a>

                    <a class=" col-md-4 glightbox" href="assets/photography/Life Blossoms_Final_Enhanced.jpg"
                        data-glightbox="title:Life Blossoms; description: <b> Details of composition : </b> <ul><li>Focal length: 4.103 mm </li><li>Ground level shot</li> <li>Rule of thirds</li> <li>Isolation of Subject</li> <a href='./assets/photography/Life Blossoms.pdf' title='view detailed information' target='_blank' download><i class='fa-icon downloadIcon fal fa-file-pdf'></i></a>;"
                        data-gallery="gallery1">
                        <div class="category__card card">
                            <img src="assets/photography/Life Blossoms_Final_Enhanced.jpg"
                                class="card-img-top  img-responsive" alt="Flower Blossom">

                        </div>

                    </a>

                    <a class="col-md-4  glightbox" href="assets/photography/Bench.jpg"
                        data-glightbox="title: The Bench; description: <b> Details of composition : </b> <ul><li>Focal length: 4.745 mm </li> <li> Color composition</li> <a href='./assets/photography/The Bench.pdf' title='view detailed information' target='_blank' download><i class='fa-icon downloadIcon fal fa-file-pdf'></i></a>;"
                        data-gallery="gallery1">
                        <div class="category__card card">
                            <img src="assets/photography/Bench.jpg" class="card-img-top  img-responsive"
                                alt="Bench">

                        </div>
                    </a>
                    <a class="col-md-4  glightbox" href="assets/photography/Fire_final.jpg"
                        data-glightbox="title: Fire; description: <b> Details of composition : </b> <ul><li>Focal length: 4.103 mm </li> <li>Rule of thirds</li>  <a href='./assets/photography/Fire.pdf' title='view detailed information' target='_blank' download><i class='fa-icon downloadIcon fal fa-file-pdf'></i></a>;"
                        data-gallery="gallery1">
                        <div class="category__card card img-responsive">
                            <img src="assets/photography/Fire_final.jpg" class="card-img-top  " alt="Fire">
                        </div>
                    </a>


                </div>

            </div>
        </div>

        <div class="section__reflection">


            <h3 class="container section__header">
                Reflection
            </h3>
            <div class="container section__description mb-4">
                <p class="description">
                    To be very honest, I had never imagined in my life that there were many techniques and rules
                    around the composition of a picture and upon learning them, I realised how grateful I am to gain
                    such a fruitful insight and utilize it in practice.
                    Ever since I became aware of it, I wouldnt miss a rule of thirds when I see one, in movies, in
                    videos or in pictures!
                </p>
                <p class="description">
                    Although, it is not a mandate to follow these rules of compositions, My eyes would always
                    appreciate these compositions that bring out the beauty in the picture that is clicked.
                </p>
                <p class="description">
                    Becoming aware of the technical aspects of controlling the light and its parameters to capture
                    pictures is another lesson that I am grateful for!
                </p>
                <p class="description">
                    I also learnt the importance of post processing workflow, how necessary the processing of the
                    images are.
                </p>
            </div>
        </div>
    </section>

<aj-footer></aj-footer>

</div>




<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script>
    var myLightbox = GLightbox({
        selector: '.glightbox',
        descPosition: 'right',
    });
</script>