
<div class="d-flex flex-column body-container mt-5">


   
    <section class=" container work__section mb-4">
        <div class="breadcrumb__blog py-4">
            <a (click)="router.navigate(['/home'])" class="crumb">Home</a> | <a (click)="router.navigate(['/creativecorner'])" class="crumb">Creative Corner</a> | <span class="crumb">Videography</span>

        </div>
        <h2 class="container section__header">
            <i class="fal  fa-video"></i> Videography
        </h2>
        <div class="container section__description mb-4">
            <p class="description">

                I am proud to be a part of this wonderful team with Laura, Alice and Carla, where we came together
                to brainstorm, storyboard our ideas and eventually made an product video for the JBL speaker lamp!

                We touched various bases on this assignment,from story boarding to script writing to the
                video-making aspect that dealt with getting the logistics ready and shoot in a Green room, followed
                by the editing process where we had mixed audio and video,also worked on tools like, Adobe After
                Effects, Adobe Premire Pro, and eventually Audacity for mixing the audio with some prior hand-on
                experience from the audio story came a long way this time.

                Please enjoy the video below!
            </p>
            <div class="container-fluid p-0 ">
                <div class="row container__category">
                    <div class="col-md-12 my-2 videowrapper">
                        <iframe width="950" height="534" src="https://www.youtube.com/embed/ThabdgVy-GU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>
                </div>

            </div>
        </div>

        <div class="section__reflection ">


            <h3 class="container section__header">
                Reflection
            </h3>
            <div class="container section__description mb-4">
                <p class="description pull-left reflection--align-center">
                    It indeed feels great to have worked as a team in producing this high quality video! When I look
                    back at the days we worked together as a team, I feel immensely proud of us!
                </p>
                <img src="./assets/videography/Team.jpeg" alt="Team" class="pull-right team-picture" />
            </div>
        </div>
    </section>

<aj-footer></aj-footer>

</div>

