<div class="d-flex flex-column body-container mt-2">
    <section class="intro__title">

        <div class="section__description intro__bg--art d-flex flex-column justify-content-center ">
            <h1 class=" container section__header">
                Hello! <br>
                I am Ajay Vijayakumaran
            </h1>
            <div class="container section__subtitle">
                <ngx-typed-js [loop]="true" [typeSpeed]="100"  [backSpeed]="75" [strings]="['UI/UX Designer', 'Front-End Engineer', 'Web Developer']">
                    I am a <span class="typing section__subtitle subtitle--flicker"></span>
                  </ngx-typed-js>
                  <p class="description w-50 w-xs-100 pt-2">
                    I love to touch lives and bring about a difference by the virtue of meaningful experiences that are user-centered.
                </p>
            </div>

        </div>


    </section>
    <section class="about__section mb-4">
    
        <div class="container section__description">
           
          
        </div>
    </section>
    <section class="work__section mb-4">
        <!-- <h2 class="container section__header">
            My Work
        </h2> -->
        <div class="container section__description">
            <!-- <p class="description">
                This year has been filled with such great amount of learning! I feel very fortunate that I am able
                to leverage the opportunity of studying and practically implementing Interaction Design learning
                from the best minds!

            </p> -->
            <div class="container-fluid p-0 ">

                <div class="row container__category">

                    <a class="category__panel  col-lg-3 col-md-6" (click)="navigateURL('Achievements')">
                        <div class="card category__card ">
                            <div class="card-body">
                                <h5 class="card-title text-center">Achievements</h5>
                                <div class="img-container">
                                    <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                    <i class=" fa-icon fal fa-ruler-combined"></i>


                                </div>

                            </div>

                        </div>
                    </a>
                    <a class="category__panel  col-lg-3 col-md-6" (click)="navigateURL('architectures')">
                        <div class="card category__card ">
                            <div class="card-body">
                                <h5 class="card-title text-center">Architectures</h5>
                                <div class="img-container">
                                    <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                    <i class=" fa-icon fal fa-blog"></i>


                                </div>

                            </div>

                        </div>
                    </a>

                    

                   

                   
                    <!-- <a class="category__panel  col-lg-3 col-md-6"  (click)="navigateURL('prototype')">
                        <div class="card category__card ">
                            <div class="card-body">
                                <h5 class="card-title text-center">Prototypes</h5>
                                <div class="img-container">
                                    <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                    <i class="fal fa-icon fa-ruler-combined"></i>

                                </div>

                            </div>

                        </div>
                    </a> -->
             
                    <a class="category__panel  col-lg-3 col-md-6" (click)="navigateURL('ui')" >
                        <div class="card category__card ">
                            <div class="card-body">
                                <h5 class="card-title  text-center">UI Development </h5>
                                <div class="img-container">
                                    <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                    <i class="fal fa-icon fa-long-icon fa-laptop-code"></i>

                                </div>

                            </div>

                        </div>
                    </a>
                    <!-- <a class="category__panel  col-lg-3 col-md-6" (click)="navigateURL('creativecorner')">
                        <div class="card category__card ">
                            <div class="card-body">
                                <h5 class="card-title  text-center">Creative Corner</h5>
                                <div class="img-container">
                                    <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                    <i class="fal fa-icon fa-palette"></i>
                                </div>

                            </div>

                        </div>
                    </a> -->
                  
                   

                   
                </div>
            </div>

        </div>
    </section>

    <aj-footer></aj-footer>

</div>
