<div class="d-flex flex-column body-container mt-5 ">


    <section class="work__section mb-4 container section__description mb-4">
        <div class="breadcrumb__blog py-4">
            <a (click)="router.navigate(['/home'])" class="crumb">Home </a>|
            <a (click)="router.navigate(['/projects'])" class="crumb">Projects </a>|<span class="crumb"> FarmWise
            </span>
        </div>
        <h2 class="container section__header">
            <i class="fal  fa-ruler-combined"></i> FarmWise
        </h2>
        <div class="container section__description mb-4">
            <p class="description mt-4">

                The FarmWise is a project that has been modelled keeping in mind the strong pillars of sustainability,
                reliability and transformation – that is, an application aimed to provide sustainability in the way the
                business is carried out, reliability of the platform being used to carry it out and transforming small
                businesses digitally eventually impacting lives at different points in the supply chain.
            
               <span class="d-block  description"> <strong>Please find the detailed case study here :</strong>  <button class="btn btn-link" (click)="download()">
                    Download FarmWise Case Study
                </button>
            </span>
                <li class="pt-2">
                    FarmWise resulted as a group conversation when the discussion was initiated
                    around the concept of connecting a local producer to the end customer. It piqued our (designers)
                    curiosity when we started discussing how "wise” it would be if the producer knew how
                    much to grow based on the demand for the produce from their “farm” and hence the
                    name came to being for this application as “FarmWise”
                </li>
                <li class="pt-2"> This case study outlines the various processes and learnings that have been
                    acquired whilst working in the team to produce a high fidelity - mobile application design of
                    the FarmWise application developed on the figma tool.</li>

            </p>
            
            The various phases phases and processes that are covered in this case study can be given as :
            <ul class="pt-2">
                <li>Background Research</li>
                <li>Design and Development plan - First Iteration</li>
                <li>Story Boarding</li>
                <li>Service Design</li>
                <li>User Personas</li>
                <li>Initial and final Design Prototypes</li>
                <li>Usability Analysis with respect to 10 Heuristics provided by Nielsen Norman Group </li>
            </ul>


            <h3 class="container section__header">
                Motivation and Background Research
            </h3>

            <div class="container section__description mb-4">


                <p class="description">
                    Having worked on multiple web and mobile applications spanning the agriculture sector, I
                    saw a great opportunity to learn and explore this area in terms of digital transformation. Few
                    of these applications and points of information that we looked into are :
                </p>

                <li class="pt-2">Agrifood and Fisheries Export Services Portal</li>
                <p>“ The Export Services Portal is a central source of information to better equip Western
                    Australian agrifood and fisheries exporters to develop their business. It’s a
                    comprehensive and easy tool to identify the key export related services provided by
                    government (State and Commonwealth) departments and industry bodies to Western
                    Australian agrifood and fisheries exporters. ” (Agrifood and Fisheries Export Services
                    Portal at <a href="https://export.agric.wa.gov.au/">https://export.agric.wa.gov.au/</a>)
                </p>
                <p> The solution is offered by the Government of Western Australia, with insights into the
                    offering of this web portal that connects small industries in the agriculture sector by
                    providing information for developing various businesses.</p>
                <li class="pt-2">Phoenicia</li>
                <p>This application has a great role to play in the conceptualisation of “FarmWise” as
                    this portal aims at providing services and facilitating the business flow between
                    Growers and Sellers. This idea became the seed for our application and we let it
                    evolve and grow by defining functionalities and user flows.
                    “connects fresh produce growers, merchants and buyers – online.
                </p>
                <p>Phoenicia provides unprecedented visibility and transparency across the fresh produce
                    value chain. With access to real time market data and the ability to manage your
                    business when and where you choose, Phoenicia will save you time, strengthen your
                    relationships, make you better informed and improve your decision making. It is the
                    new way of doing business.” (Phoenicia at <a
                        href="https://phoenicia.com.au/">https://phoenicia.com.au/</a> ) </p>
                <li class="pt-2">Sinarmas (Golden Agri-Resources Ltd.)</li>
                <p> GAR is committed to be the leader in sustainable palm oil production by adopting
                    best industry practices and standards, managing the environment responsibly, creating
                    employment and empowering the communities.” (Sinarmas at
                    <a
                        href="https://www.sinarmas.com/en/agribusiness-and-food.html">https://www.sinarmas.com/en/agribusiness-and-food.html</a>
                    )
                </p>

                <li class="pt-2">Teagasc</li>
                <p>“Teagasc – the Agriculture and Food Development Authority – is the national body
                    providing integrated research, advisory and training services to the agriculture and
                    food industry and rural communities.” ( Teagasc at <a
                        href="https://www.teagasc.ie/about/">https://www.teagasc.ie/about/</a>)
                    Teagasc provides Farm Advisory services being a Agriculture and Food Development
                    authority of Ireland.</p>

                <p class="description">
                    The motivation of working on FarmWise piqued due to my inclination into this sector
                    by the virtue of exposure into development of similar projects such as the Agrifood
                    and Fisheries Export Services Portal and Phoenicia and I was able to leverage it to
                    steer the team to think in the direction of the solution through the design of
                    FarmWise.
                </p>

                <strong>FarmWise: How it came to be?</strong>

                <p class="description mt-1">
                    The name FarmWise resulted as a group conversation when the discussion was initiated
                    around the concept of connecting a local producer to the end customer. It piqued
                    curiosity when we started discussing how "wise” it would be if the producer knew how
                    much to grow based on the demand for the produce from their “farm” and hence the
                    name came to being for this application as “FarmWise”.
                </p>

            </div>

        </div>

        <h3 class="container section__header">
            Background Research
        </h3>

        <div class="container section__description mb-4">
            <p class="description">
                As pointed out in the introduction section, the various products and resources that we
                explored are as :
            </p>
            <ol>
                <li>Agrifood and Fisheries Export Services Portal</li>
                <li>Phoenicia</li>
                <li>Sinarmas (Golden Agri-Resources Ltd.)</li>
                <li>Teagasc</li>
            </ol>


            <p class="description">
                For the motivation and research purposes, some of the online sources for data points from an
                inductive research point of view were explored and can be found as under:
            </p>
            <h5 class="section__header mt-4"> Supply Chain Governance of Agricultural Products under Big Data Platform
                Based on
                Blockchain Technology </h5>
                <img class="img-responsive p-4" src="../../assets/farmwise1.png" alt="Trust in a supply chain management system"/>


            <p class="description">
                “The present work serves to improve the stable cooperation relationship among
                subjects of supply chain such as enterprises, farmers, intermediary organizations, and
                retailers and enhance the governance and optimization of agricultural product supply
                chain, thus strengthening the competitiveness of China’s agricultural industry. The
                supply chain governance of agricultural products is taken as the research object.” (
                Guo W. and Yao K, 2022)
            </p>
            <h5 class="section__header mt-4">How to Design an App to Support Local Farmers — Grow It, a UX Case Study
                (source uxdesign.cc) </h5>

            <p class="description">
                The author, Antoine Fourrier , conducted a survey with 230 answers regarding the
                opportunity to access a digital platform to support local growers and the above are the
                results of the survey. It provided us with a good motivation to proceed with the design
                process.
                <img class="img-responsive p-4" src="../../assets/Farmwise2.PNG" alt="Case study findings"/>
            </p>

            <p class="description">
                Having the conceptual model of Phoenicia in mind, we explored the website of the
                same and drew out the features to adapt some of the core offerings into our
                application and we completed an end to end flow of our application with buyer, seller
                and grower.
            </p>

            <h3 class="container section__header">Design and Development Process
            </h3>
            <p class="description">
                The design and development process was carried out in a structured manner.
            </p>
    
            <h5 class="section__header mt-4">The Agile Sprint Methodology</h5>
    
            <p class="description">
                The Design and development phases started on February 26th 2022, the process started in an
                Agile sprint methodology fashion.
                <br>
                Trello board was leveraged to facilitate this process.
                <img class="img-responsive p-4" src="../../assets/Farmwise3.PNG" alt="Case study findings"/>
                
            </p>
    
            <div class="container section__description mb-4">
                <p class="description">The platform was leveraged to track our progress, brainstorm ideas, create tasks and
                    assign it
                    to different team members.
                    <br>
                    Various tasks that were recognised are as under :
                </p>
                <ol>
                    <li> Colour palette identification</li>
                    <li> Asset creation</li>
                    <li>Storyboards to come up with brainstorming scenarios</li>
                    <li>User Personas</li>
                    <li>User flow identification </li>
                    <li>Feature mapping</li>
                    <li>Initial wireframe design</li>
                    <li>Final Prototype design</li>
                    <li>Integration of work</li>
                </ol>
    
    
                <p class="description">
                    As a peer group, the work was evenly distributed with the intention to help each other out as
                    and when possible.
                </p>
                <h5 class="section__header mt-4"> Storyboarding </h5>
    
    
                <p class="description">
                    The Storyboarding method was used for ideation and narrowing down of the features some of
                    the storyboards can be found as under :
                    
                    <img class="img-responsive p-4" src="../../assets/FarmWise6.PNG" alt="Storyboard 1"/>
                    <img class="img-responsive p-4" src="../../assets/FarmWise7.PNG" alt="Storyboard 2"/>
                    <img class="img-responsive p-4" src="../../assets/FarmWise8.PNG" alt="Storyboard 3"/>

                </p>
                <h5 class="section__header mt-4">The Service Design
                </h5>
                <p class="description">
                    The service design is to support and foster the ecosystem where the grower grows the local
                    produce and the seller buys it from the grower and stocks it in their inventory.</p>
                <p class="description">
                    The buyer that is the end customer would in turn go to the seller to buy the product. This
                    empowers the economy as they source locally and hence enables the seller to facilitate the
                    sale of a diverse range of produce that is sourced from the local grower and sell it to the
                    buyer who has the option to buy a whole range of products from the seller instead of just one
                    from a grower. </p>
                <p class="description">
                    The Seller has the ability to source produce from multiple growers.
                    This proposed model would thereby serve the economy by making it reliable, sustainable
                    with a lesser carbon footprint as the produce is not shipped from another far-away location
                    and would help transform and foster small businesses.


                </p>
                <img class="img-responsive p-4" src="../../assets/Farmwise4.PNG" alt="Service Design"/>

                <h5 class="section__header mt-4">Personas
                </h5>
                <p class="description">
                    We created 3 varying profiles to empathise with the users with different personas for grower, seller and buyer.
                </p>
                <img class="img-responsive p-4" src="../../assets/Farmwise5.PNG" alt="Personas"/>

    
                <h5 class="section__header mt-4">Figma Design phase
                </h5>
                <p class="description">
                    After narrowing down the features and user flows, the visual designing phase was executed
                    on figma.</p>
                <p class="description">
                    I executed the primary task of Grower’s user story and aligned with the storyboard and the
                    features that were discussed by the team. </p>
    
                <p class="description">
                    The collaboration was well executed. The team members were able to help each other out for
                    the effective output in the respective flows that has a vast number of screens.</p>
    
                <h5 class="section__header mt-4"> Final Prototype on Figma</h5>
    
                <div class="col-md-12 my-2 figmaWrapper">
                    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450"
                        src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FYzCWiNWH7Dwlu16ujsKwla%2FFarmWise%3Fnode-id%3D359%253A7338%26scaling%3Dscale-down%26page-id%3D111%253A258%26starting-point-node-id%3D359%253A7338"
                        allowfullscreen></iframe>
    
                </div>
    
                <a class="category__panel  show-small-Figma col-md-12"
                    href="https://www.figma.com/proto/YzCWiNWH7Dwlu16ujsKwla/FarmWise?node-id=117%3A951&scaling=scale-down&page-id=111%3A258&starting-point-node-id=117%3A951">
                    <div class="card category__card ">
                        <div class="card-body">
                            <h5 class="card-title text-center">Prototype of FarmWise App</h5>
                            <div class="img-container">
                                <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                <i class="fab fa-icon fa-figma"></i>
    
                            </div>
    
                        </div>
    
                    </div>
                </a>
    
    
                <h5 class="section__header mt-4">Teamwork
                </h5>
                <p class="description">
                    The most enjoyable part of the experience was working with the team, though all the
                    members had tight deadlines across the course. Discussions were often facilitated and ideas
                    were opened up to enhance the scope of work, we were able to exchange critical feedback
                    and improve our designs and ability to work in our team by the means of sprint review and
                    retrospective. Following Agile sprint framework also enabled us to manage work in an
                    efficient way.
                </p>
    
        </div>
        <div class="section__reflection">


            <h3 class="container section__header">
                Conclusion
            </h3>
            <div class="container section__description mb-4">
                <p class="description">
                    There are several aspects to designing an application. Various points that need to be kept in
                    mind right from researching the topic, to brainstorming the idea, to checking compliance with
                    the Neilsen Norman group’s heuristics, making storyboards, drawing personas, lets us
                    empathise with the end user which is a very important aspect for application design.


                </p>

                <p class="description">
                    Leveraging the design quality of everyday things, such as the Affordances, Mapping,
                    Constraints and feedback and incorporating them in the design are indeed a great learning
                    opportunity through practice.
                </p>
                <p class="description"> Above all, learning to effectively collaborate with the team is another crucial
                    aspect.
                </p>
                <p class="description"> The application FarmWise is incubated under the above mentioned environment and
                    is
                    designed to suit the end users achieve their objective and establish a sustainable and reliable
                    supply chain in food logistics that would transform businesses and empower local
                    communities and businesses. </p>

                <h5 class="container section__header">References, Webography & Bibliography</h5>
                <ol>
                    <li>Wei Guo, Kai Yao, "Supply Chain Governance of Agricultural Products under Big Data
                        Platform Based on Blockchain Technology", Scientific Programming, vol. 2022, Article
                        ID 4456150, 16 pages, 2022. https://doi.org/10.1155/2022/4456150</li>
                    <li>
                        <a href="https://export.agric.wa.gov.au/">https://export.agric.wa.gov.au/</a>

                    </li>
                    <li>
                        <a href="https://phoenicia.com.au/">https://phoenicia.com.au/</a>

                    </li>
                    <li>
                        <a href="https://www.sinarmas.com/en/agribusiness-and-food.html">https://phoenicia.com.au/</a>

                    </li>
                    <li>
                        <a href="https://www.teagasc.ie/about/">https://www.teagasc.ie/about/</a>

                    </li>
                    <li>
                        <a
                            href="https://www.nngroup.com/articles/ten-usability-heuristics/">https://www.nngroup.com/articles/ten-usability-heuristics</a>

                    </li>
                    <li>
                        <a
                            href="https://uxdesign.cc/grow-it-how-to-design-an-app-to-support-local-farmers-a-ux-casestudy-cad4e7302039">https://uxdesign.cc/grow-it-how-to-design-an-app-to-support-local-farmers-a-ux-casestudy-cad4e7302039</a>

                    </li>
                    <li>
                        <a
                            href="https://www.hindawi.com/journals/sp/2022/4456150/fig17">https://www.hindawi.com/journals/sp/2022/4456150/fig17</a>

                    </li>
                </ol>


            </div>
        </div>

      
        </div>

    </section>

    <aj-footer></aj-footer>

</div>