$hoverBlue :  #64afc9;

  #footer {
      .social-links{
          a:hover{
            background: $hoverBlue;
            color: #fff;
            text-decoration: none;
          }
      }
      .copyright {
        margin: 0 0 5px 0;
      }

      .credits {
        font-size: 13px;
      }
  }

  