<footer id="footer">
    <div class="container">
        <h3 class="container section__header">Ajay Vijayakumaran</h3>
        <p class="font-italic">"Do you wanna develop an app?" - Glootie, Rick's Intern (now mine!)</p>

        <div class="social-links">
            <a href="https://www.instagram.com/ajay.nair/" class="soc-media"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ajayvnair/" class="soc-media"><i
                    class="fab fa-linkedin-in"></i></a>
            <a href="https://dribbble.com/avNair" class="soc-media"><i class="fab fa-dribbble"></i></a>
            <a href="https://www.youtube.com/channel/UCHVv6mGA1s7bL9qsWgrCHkg" class="soc-media"><i
                    class="fab fa-youtube"></i></a>

        </div>
        <div class="copyright">
            © 2022 <strong><span>Ajay Vijayakumaran</span></strong>
        </div>

    </div>
</footer>