
    <div class="d-flex flex-column body-container mt-5">


        <section class="work__section mb-4">
            <h2 class="container section__header">
                 Create Blog Post
            </h2>
            <div class="container section__description mb-4">
                <p class="description">
                Please fill out the details to create a blog post
                </p>
                <div class="container-fluid p-0 ">
                    <div class="row container__category">
                        <div class="form-group col-12">
                            <label for="title">Blog Post Title</label>
                        <input type="text" class="form-control" id="name" id="title" required [(ngModel)]="title" name="name">
                           
                        </div>
                        <div class="form-group col-12 pb-2">
                            <label for="category">Blog Post Category</label>
                            <select class="form-control" id="category" [(ngModel)]="category" required>
                              <option *ngFor="let cat of categories" [value]="cat.category" id="category_{{cat.id}}">{{cat.category}}</option>
                            </select>
                        </div>
                        <div class="form-group col-12 pb-2">
                            <label for="blogPost">Create your post below!</label>
                            <angular-editor id="blogPost" [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="htmlContent" ></angular-editor>

                        </div>

                    </div>
                   <div class="pull-right">
                    <button class="btn btn-primary" (click)="createPost()"> Submit</button>

                   </div>
                </div>
            </div>

         
        </section>

   <aj-footer></aj-footer>

    </div>
