<div class="d-flex flex-column body-container mt-5">


    <section class="work__section mb-4">
        <h2 class="container section__header">
            <i class="fal  fa-palette"></i> Digital Art
        </h2>
        <div class="container section__description mb-4">
            <p class="description">I occasionally work on digital art such as making digital portraits on tools like
                Adobe Photoshop and Adobe Illustrator and very occasionally on CSS using the browser developer
                tools.
                Please find Some of my work below:
            </p>
            <div class="container-fluid p-0 ">
                <div class="row container__category">
                    <a class="col-md-4  glightbox" href="assets/Scam1992.jpg" data-gallery="gallery1">
                        <div class="category__card card">
                            <img src="assets/Scam1992.jpg" class="card-img-top  img-responsive"
                                alt="Portrait of a character from Scam 1992 web Series" />
                        </div>
                    </a>


                    <a class="col-md-4  glightbox" href="assets/Ajay_digi.jpg" data-gallery="gallery1">
                        <div class="category__card card img-responsive">
                            <img src="assets/Ajay_digi.jpg" class="card-img-top  img-responsive" alt="Ajay">
                        </div>
                    </a>
                    <a class="col-md-4  glightbox" href="assets/logo.jpg" data-gallery="gallery1">
                        <div class="category__card card">
                            <img src="assets/logo.jpg" class="card-img-top  img-responsive" alt="logo Design">

                        </div>
                    </a>
                    <a class="col-md-4  glightbox" href="assets/mario.png" data-gallery="gallery1">
                        <div class="category__card card img-responsive">
                            <img src="assets/mario.png" class="card-img-top  " alt="Web Page">
                        </div>
                    </a>

                    <a class="col-md-4  glightbox" href="assets/PW.png" data-gallery="gallery1">
                        <div class="category__card card img-responsive">
                            <img src="assets/PW.png" class="card-img-top  " alt="Prakriti Wahi">
                        </div>
                    </a>


                </div>

            </div>
        </div>

    </section>

    <aj-footer></aj-footer>
</div>
