.section__description {
    //   min-height: 50vh;
    position: relative;
}
.handler__message{
    margin:auto;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 300;
}
.card-footer{
    background-color: transparent;
}
.card__footer__date{
    letter-spacing: 1px;
    font-weight: 400;
    color: #1282a8;
}