.section__header{
    border: 1px solid #1282a8;
    border-bottom: 0;
    margin-bottom: 0;
    border-top: 0;
}
.section__description{
    border: 1px solid #1282a8;
    border-top: 0;
    border-bottom: 0;

}

.img-wrapper.profile_img-wrapper img {
    width: 110px;
    height: 110px;
    padding: 0.25rem;
    border-radius: 50%;
    border: 3px solid #1282a8;
    margin-left: 1rem;
}

.info-container {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    align-self: center;
    margin-left: 1rem;
}
span.profile__name {
    font-size: 1.25rem;
    font-weight: 400;
}

span.d-block.time {
    color: #1282a8;
    font-weight: 500;
}
.ls-0{
    letter-spacing: 0;
}
.body-container{
    height: calc(100vh - 5rem);
    overflow: auto;
    padding-bottom: 10px;
}
