
    <div class="d-flex flex-column body-container mt-5">


        <section class="work__section mb-4">
            <h2 class="container section__header">
                <i class="fal  fal fa-blog"></i> Blog Posts
            </h2>
            <div class="container section__description mb-4">
                <p class="description">
                  Test Post!
                </p>
                <div class="container-fluid p-0 ">
                    <div class="row container__category">
                    
                        <p [innerHtml]="blogPost"></p>

                    </div>

                </div>
            </div>

            <div class="section__reflection">


                <h3 class="container section__header">
                    Reflection
                </h3>
                <div class="container section__description mb-4">
                    <p class="description">

                        AJ’s BookMented Reality Application helped me revisit my software engineering days, but however
                        with a perspective of a budding interaction designer, I was able to focus more onto the
                        interaction of the application, I was able to model and structure the application accordingly. I
                        had started the whole process with the storyboarding and modelling the flow of the application
                        and then entered the application development.
                        When I say that it made me revisit my software engineering days, I realised how I missed
                        debugging applications, getting to the root of the application’s issues as I faced many issues
                        and tried various different approaches to resolve the many issues that I had encountered. But
                        eventually emerging with a working solution gave me the satisfaction I thrive on.

                    </p>
                </div>
            </div>
        </section>

   <aj-footer></aj-footer>

    </div>
