
    <div class="d-flex flex-column body-container mt-5">


        <section class="work__section mb-4">
            <h2 class="container section__header">
                <i class="fal  fal fa-blog"></i> Blog Posts
            </h2>
           <div class="container section__description mb-4">
          
           
            <div class="row container__category">
                <a class="category__panel  col-lg-4 col-md-6" (click)="navigateURL('General')">
                    <div class="card category__card ">
                        <div class="card-body">
                            <h5 class="card-title text-center">IXUX 2022 Blog </h5>
                            <div class="img-container">
                                <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                <i class=" fa-icon fal fa-blog"></i>

                            </div>

                        </div>

                    </div>
                </a> 
                <a class="category__panel  col-lg-4 col-md-6" (click)="navigateURL('Technical')">
                    <div class="card category__card ">
                        <div class="card-body">
                            <h5 class="card-title text-center">Technology Blog </h5>
                            <div class="img-container">
                                <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                <i class=" fa-icon fal fa-blog"></i>

                            </div>

                        </div>

                    </div>
                </a>

            </div>
        </div> 
        </section>

   <aj-footer></aj-footer>

    </div>
