
    <div class="d-flex flex-column body-container mt-5 ">


        <section class="work__section mb-4 container section__description mb-4">
            <div class="breadcrumb__blog py-4">
                <a (click)="router.navigate(['/home'])" class="crumb">Home </a>|
                 <a (click)="router.navigate(['/projects'])" class="crumb">Projects </a>|<span class="crumb">  UL Buddies </span> 
            </div>
            <h2 class="container section__header">
                <i class="fal  fa-ruler-combined"></i> UL Buddies
            </h2>
            <div class="container section__description mb-4">
                <p class="description mt-4"> 
                    
                    The UL Buddies is a project that was conducted into two phases: 
                    
                        <li class="pt-2">
                        The first, that deals with the group of designers coming togther and creating a dispensible pen & paper low-fidelity prototype.
                        </li>
                        <li class="pt-2">The second, designers conducting co-operative evaluation with the users, gathering feedback and refining the prototype, independently. </li>
            </p>
              
     
                <h3 class="container section__header">
                    The First Phase
                </h3>
                
                <div class="container section__description mb-4">

                    <h5 class="section__header mt-4"> The Exploration Phase : Brainstorming and Mindmapping </h5>
                    <p class="description">
                      A brainstorming and mindmapping exercise was carried out to select a topic, i.e. a Buddy system from the seed idea of having a gym partner application.

                      <img class="img-responsive p-4" src="../../assets/mindmap.png"/>
                    </p>
                    <p class="description">
                        Following this, semi-structured interviews with some of the canidates that were recruited from the university's postgraduate cohort were carried out, to understand the means to socializing in the campus and identify a problem space, if any.
                    </p>

                    <p class="description">
                    It was found out that 3 out of 5 students who are new to the campus hesitate to socialize as they fear that they might not have the common interests to socialize with other campus members.
                    Further, a mechanism to connect people with common interests was missing as the clubs and societies at that point were not fully functioning as it was the first time the campus had reopened for classes after Covid-19      
                    </p>
                    <p class="description">
                        A consensus was hence arrived at, to design an application that would enable people to connect upon matching their interests or would let them explore new interests and find buddies doing so.
                    </p>
                    <p class="description">
                        features that were decided to be integrated were 
                        <li class="pt-2">Sign up / Login.</li>
                        <li class="pt-2"> Add / search interests.</li>
                        <li class="pt-2">Explore people with similar interests.</li>
                        <li class="pt-2">Chat with people on the app</li>
                    </p>
                    <h5 class="section__header">Low Fidelity Prototype design - Pen and Paper</h5>
                    <img class="img-responsive p-4" src="../../assets/lofi.png"/>
                    <img class="img-responsive p-4" src="../../assets/lofi-2.png"/>
                    <img class="img-responsive p-4" src="../../assets/lofi-3.png"/>

                    <p class="description">
                    </p>
                </div>
          

                <!-- <div class="container-fluid p-0 ">
                    <div class="row container__category">
                        <div class="col-md-12 my-2 figmaWrapper">
                            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450"
                                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FbBZ2QZ7FDtonS7pL4z0xxs%2FUL-Buddies%3Fnode-id%3D1%253A6%26starting-point-node-id%3D1%253A6"
                                allowfullscreen></iframe>

                        </div>

                        <a class="category__panel  show-small-Figma col-md-12"
                            href="https://www.figma.com/proto/bBZ2QZ7FDtonS7pL4z0xxs/UL-Buddies?kind=&node-id=1%3A6&starting-point-node-id=1%3A6">
                            <div class="card category__card ">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Prototype of UL Buddies App</h5>
                                    <div class="img-container">
                                        <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                        <i class="fab fa-icon fa-figma"></i>

                                    </div>

                                </div>

                            </div>
                        </a>
                        <a class="category__panel  show-small-Figma col-md-12"
                            href="https://www.figma.com/file/goOYhNUOWMhxT2HTVVwGIm/MockUps?node-id=0%3A1">
                            <div class="card category__card ">
                                <div class="card-body">
                                    <h5 class="card-title  text-center">Prototype of KidzBrainz App </h5>
                                    <div class="img-container">
                                        <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                                        <i class="fab fa-icon fa-long-icon fa-figma"></i>

                                    </div>

                                </div>

                            </div>
                        </a>

                    </div>
                </div> -->

            </div>

            <h3 class="container section__header">
                The Second Phase
            </h3>
            
            <div class="container section__description mb-4">

                <h5 class="section__header mt-4"> Introduction to the second phase </h5>
                <p class="description">
                 This phase deals majorly with the evaluation of the UI design by carrying out the co-operative evaluation with the users, where they would test the usability of the low-fidelity prototype.
                </p>

                <p class="description">
                    The technique that was fitting the requirement well, was found out to be summative evaluation. Usability tests were conducted along the guidelines of cognitive walkthrough, walkthrough with thinking aloud and cooperative evaluation, where the tasks had been laid out for the users to test that consisted of one major vertical task and 3 smaller feature tasks.
                </p>
                <h5 class="section__header mt-4"> Recruitment and evaluation of the low fidelity prototype </h5>
                <p class="description">
                    There were <b>5</b> participants that were recruited. The background of these participants was majorly postgraduate students studying at University of Limerick, in different disciplines.
                </p>

                <p class="description">
                    The recruited participants were briefed about the activity and the process when they were approached in order to obtain their informed consent
                </p>

                <p class="description">
                 The participants were informed that they could leave at any point they felt uncomfortable during the usability testing session and the information they have shared would be kept confidential.
                </p>
                <h5 class="section__header mt-4"> Re-design requirements </h5>

                <p class="description">
                    The following feedback points were found to be crucial and were the taken as the requirements for the re-designing of the application based on the feedback during the evaluation stage: 
                </p>
              <ol>
                  <li>Back navigation was missing in the application</li>
                  <li>Picking Interest screen to be re-designed to enable the user to search and add the desired interest rather than add from a set of interests that are available</li>
                  <li>“What if the user adds all the interests?” - the major bug that needed to be looked into.</li>
                  <li>How to resolve privacy concerns?</li>
                  <li>Adding a block/mute feature to avoid potential harassment on the platform</li>
                  <li>As a minor enhancement, an app landing screen was envisioned that gives the option to login and sign up</li>
              </ol>
            
              <h5 class="section__header mt-4"> Screens that are re-designed : low-fidelity </h5>
              <img class="img-responsive p-4" src="../../assets/redesign.png"/>
              <img class="img-responsive p-4" src="../../assets/redesign_2.png"/>
              <img class="img-responsive p-4" src="../../assets/redesign_3.png"/>
              <img class="img-responsive p-4" src="../../assets/redesign_4.png"/>
             
              <h5 class="section__header mt-4">   Final Interactive medium fidelity prototype on figma    </h5>
             <p class="description"> The Fidelity of the prototype was increased to that of a medium fidelity and can be found below :</p>
             <div class="col-md-12 my-2 figmaWrapper">
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FbBZ2QZ7FDtonS7pL4z0xxs%2FUL-Buddies%3Fnode-id%3D1%253A6%26starting-point-node-id%3D1%253A6"
                    allowfullscreen></iframe>

            </div>

            <a class="category__panel  show-small-Figma col-md-12"
            href="https://www.figma.com/proto/bBZ2QZ7FDtonS7pL4z0xxs/UL-Buddies?kind=&node-id=1%3A6&starting-point-node-id=1%3A6">
            <div class="card category__card ">
                <div class="card-body">
                    <h5 class="card-title text-center">Prototype of UL Buddies App</h5>
                    <div class="img-container">
                        <img src="assets/panel_bg.png" class="card-img-top my-3" alt="...">
                        <i class="fab fa-icon fa-figma"></i>

                    </div>

                </div>

            </div>
        </a>
            </div>
            <div class="section__reflection">


                <h3 class="container section__header">
                    Reflection
                </h3>
                <div class="container section__description mb-4">
                    <p class="description">
                        This was a great learning experience for me working in the academic environment and learning by witnessing through participation in all the phases in this iteration of design from right from ideation to design to low-fidelity to medium fidelity prototyping.
                    </p>
                    <p class="description">
                        This project exercises the  Ideate, Design, Prototype, Testing & Evaluation phases in the processes in an iterative fashion, where the Process is stopped during the second iteration after the prototype phase and before proceeding the second testing and evaluation phase.
                    </p>
                    
                </div>
            </div>
        </section>

  <aj-footer></aj-footer>

    </div>